<div class="grid-container">
  <h1 class="mat-h1">Radio</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            BBC Radio
            <button mat-raised-button class="more-button" (click)="stop()" aria-label="Stop">
              <mat-icon>stop</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-action-list>
            <button mat-list-item *ngFor="let station of stations" (click)="play(station.url)"> {{station.name}} </button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Music
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here 1</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
