<div id="saver1" style="position: absolute; width: 100%; height: 100%; left: 0; right: 0; z-index: 10; background: rgba(0,0,0,1)" (click)="hideCover()">
</div>
<mat-sidenav-container class="sidenav-container" (click)="hideCover()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Functions</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/main']">Main</a>
      <a mat-list-item [routerLink]="['/radio']">Radio</a>
      <a mat-list-item [routerLink]="['/alarm']">Alarm</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-raised-button class="more-button" (click)="stop()" aria-label="Stop">
        <mat-icon>stop</mat-icon>
      </button>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
